<h1 class="center" > SPEECH TO LIBRAS </h1>

<div class="languages center"  *ngIf="languages">
  <div class="langs-container">
  <div class="traduzir-de-container inputlangs-style">
    <label for="traduzirde" class="langs-from-label">Traduzir de: </label>
    <input id="traduzirde" class="backText rounded" #langsFrom list="langs-from"/>
    <datalist id="langs-from">
      <option [value]="item.value" *ngFor="let item of languages.from">
    </datalist>
  </div>

  <div class="traduzir-para-container inputlangs-style">
    <label for="traduzirpara" class="langs-from-label">Traduzir para: </label>
    <input id="traduzirpara" class="backText rounded" #langsTo list="langs-to"/>
  <datalist id="langs-to">
    <option [value]="item.value" *ngFor="let item of languages.to">
  </datalist>
  </div>

  </div>
  <div class="traduzir-botao-container center">
    <textarea for="botaoTraduzir" style="width: 100%;" class="backText" maxlength="30" #translateText type="text" rows="5" cols="50" name="translate-text" id="translate-text" placeholder="Traduza um texto..." ></textarea>
    <button id="botaoTraduzir" type="submit" class="btn btn-info " style="margin-top: 2rem;"
      (click)="translate(langsFrom.value, langsTo.value, translateText.value)">Traduzir</button>
  </div>

</div>
<div class="translated" *ngIf="translated || libras">
  <div [ngSwitch]="libras">
    <p *ngSwitchCase="false">Texto traduzido: {{ translated }} </p>

    <div class="libras-images" *ngSwitchCase="true">
      <div class="carousel-container" [style]="'--qtde: ' + librasTranslated.length">
          <input type="radio" name="position" checked />
          <input
            type="radio"
            name="position"
            *ngFor="let img of librasTranslated.slice(1); let radioIndex = index"
          />
        <div id="carousel">
          <div class="item" *ngFor="let img of librasTranslated; let imgIndex = index" [style]="'--offset: ' + (imgIndex + 1)">
            <figure>
              <img [src]="sanitizeImg(img)" [alt]="img.name">
              <figcaption>{{ img.name }}</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchDefault>DEU RUIM</div>
  </div>
</div>

<div class="spinner-wrapper" *ngIf="loading">
  <div class="spinner"></div>
</div>
